In [2]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'1.2.4'

In [6]:
"""
Pandas Objects: Series
"""

ser = pd.Series([0.25,0.5,0.75,1.0]) #constructor method 라서 S가 대분자
print(ser) #왼쪽은 정수형 인덱스 오른쪽은 입력된 값

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
arr = ser.values
print(arr)
ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [15]:
# Label-based Indexing
ser = pd.Series([0.25 , 0.5 , 0.75 , 1.0], index = ['a','b','c','d'])
print(ser)

print(ser['b'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

In [21]:
"""
Creating a Series Object from a Dictionary
"""


population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    "New York": 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)

print(population['California' : 'New York']) #슬라이스

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [23]:
"""
Creating a DataFrame Object
"""

area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [30]:
states = pd.DataFrame({'population': population, 'area': area})
print(states)

print(states.index, '\n')
print(states.columns)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [32]:
print(states['area'])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [45]:
arr = np.random.rand(3,2)
print(arr , '\n')

df = pd.DataFrame(arr , columns = ['foo', 'bar'], index = ['a','b','c'])
print(df)

[[0.79864951 0.88845998]
 [0.25138431 0.74799427]
 [0.78631629 0.53528041]]

        foo       bar
a  0.798650  0.888460
b  0.251384  0.747994
c  0.786316  0.535280

In [46]:
ser = pd.Series([0.25 , 0.5 , 0.75 , 1.0] , index = ['a','b','c','d'])
print(ser , '\m')
print(ser[0])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64 \m
0.25